*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@font-face {
  font-family: "Katto";
  src: url("./fonts/KattoPersonalUseOutline-0Wz3r.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kitto";
  src: url("./fonts/KittoPersonalUseRegular-4BdAY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;

  --primary-font-family: "Kitto";
  --secondary-font-family: "Katto";
}

body {
  --background-color: var(--light);
  --text-color: var(--dark);

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 1.125rem;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--dark);
    --text-color: var(--light);
  }
}

img {
  width: 250px;
}

.page__title {
  font-family: "Katto";
  font-size: clamp(2.5rem, 2.2794rem + 0.9804vw, 2.75rem);
  text-align: center;
}

@media (min-width: 768px) {
  .page__title {
    font-size: clamp(2.75rem, -0.25rem + 6.25vw, 3.75rem);
  }
}

@media (min-width: 1024px) {
  .page__title {
    font-size: clamp(3.75rem, 3.0691rem + 1.0638vw, 4rem);
  }
}

.page__sub-title {
  font-size: clamp(1.65rem, 1.4515rem + 0.8824vw, 1.875rem);
  text-align: center;
}

@media (min-width: 768px) {
  .page__sub-title {
    font-size: clamp(1.875rem, 0.75rem + 2.3438vw, 2.25rem);
  }
}

@media (min-width: 1024px) {
  .page__sub-title {
    font-size: clamp(2.25rem, 1.5691rem + 1.0638vw, 2.5rem);
  }
}

.page__description {
  display: none;
}

@media (min-width: 576px) {
  .page__description {
    display: block;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  --card-gutter: 10px;
  padding: 10px;
  margin: var(--card-gutter);
}

@media (min-width: 360px) {
  .card {
    flex-basis: calc(25% - (var(--card-gutter) * 2));
    min-width: 300px;
  }
}

.card__title {
  font-size: clamp(1.5rem, 1.2289rem + 1.2048vw, 2rem);
}
