*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@font-face {
  font-family: "Katto";
  src: url("./fonts/KattoPersonalUseOutline-0Wz3r.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kitto";
  src: url("./fonts/KittoPersonalUseRegular-4BdAY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;

  --primary-font-family: "Kitto";
  --secondary-font-family: "Katto";
}

body {
  --background-color: var(--camel);
  --text-color: var(--dark);

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 1.125rem;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--dark);
    --text-color: var(--light);
  }
}

.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: min(1rem, 25px);
  max-width: 1600px;
  margin: 0 auto;
}

.page__title {
  --page-title-color: var(--light);
  --page-title-shadow: 2px 2px var(--dark);

  color: var(--page-title-color);
  text-shadow: var(--page-title-shadow);
  font-family: "Katto";
  font-size: clamp(2.5rem, 2.2794rem + 0.9804vw, 2.75rem);
  text-align: center;
  margin-bottom: min(1rem, 25px);
}

@media (min-width: 768px) {
  .page__title {
    font-size: clamp(2.75rem, -0.25rem + 6.25vw, 3.75rem);
  }
}

@media (min-width: 1024px) {
  .page__title {
    font-size: clamp(3.75rem, 3.0691rem + 1.0638vw, 4rem);
  }
}

@media (prefers-color-scheme: dark) {
  .page__title {
    --page-title-color: var(--camel);
    --page-title-shadow: 1px 1px var(--light);
  }
}

.page__sub-title {
  font-size: clamp(1.65rem, 1.4515rem + 0.8824vw, 1.875rem);
  text-align: center;
  margin-bottom: min(2rem, 50px);
}

@media (min-width: 768px) {
  .page__sub-title {
    font-size: clamp(1.875rem, 0.75rem + 2.3438vw, 2.25rem);
  }
}

@media (min-width: 1024px) {
  .page__sub-title {
    font-size: clamp(2.25rem, 1.5691rem + 1.0638vw, 2.5rem);
  }
}

.page__description {
  display: none;
}

@media (min-width: 576px) {
  .page__description {
    display: block;
    text-align: center;
    margin-bottom: min(2rem, 50px);
    width: min(1000px, calc(70% + 100px));
  }
}

.card-container {
  --card-gutter: min(1rem, 25px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--card-gutter);
}

.card {
  --card-border-radius: 5px;

  padding: min(1rem, 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: max(
    min(100vw, 18.75rem),
    22rem,
    calc(25% - var(--card-gutter) * 2)
  );
  gap: var(--card-gutter);
  color: var(--light);
  box-shadow: 0px 0px 10px 5px var(--light) inset;
  border-radius: var(--card-border-radius);
  border: 1px solid var(--light);
}

.card:nth-child(odd) {
  background-color: var(--coral);
}

.card:nth-child(even) {
  background-color: var(--teal);
}

.card__title {
  font-size: clamp(1.5rem, 1.2289rem + 1.2048vw, 2rem);
  text-align: center;
  text-shadow: 1px 1px var(--dark);
}

.card__img-wrapper {
  position: relative;
  border-radius: var(--card-border-radius);
}

.card__img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--light) inset;
  border-radius: var(--card-border-radius);
}

.card__img {
  width: max(min(100vw, 250px), 100%);
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: var(--card-border-radius);
  position: relative;
  border: 1px solid var(--light);
}

.card__info:last-child {
  margin-bottom: auto;
}
