*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  --background-color: var(--light);
  --text-color: var(--dark);

  background-color: var(--background-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--dark);
    --text-color: var(--light);
  }
}

img {
  width: 250px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

.cat-ispom {
  display: none;
}

@media (min-width: 576px) {
  .cat-ispom {
    display: block;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  --card-gutter: 10px;
  padding: 10px;
  margin: var(--card-gutter);
}

@media (min-width: 360px) {
  .card {
    flex-basis: calc(25% - (var(--card-gutter) * 2));
    min-width: 300px;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }
}
